body {
  background-image: url(cinza.png);
  font-family: Arial, sans-serif;
  margin: 30px;
  background-color: #fff;
}

.card {
  max-width: 900px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 20px;
}

.perfil-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.foto-perfil {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #ccc;
}

.info-perfil {
  /* Para ajustar os textos do lado da foto */
}

.nome {
  font-weight: bold;
  font-size: 24px;
  color: rgb(0, 0, 0);
  margin-bottom: 5px;
}

.profissao,
.valor {
  font-size: 16px;
  margin-bottom: 3px;
}

.especialidades span {
  background-color: #c7a8ff;
  color: black;
  font-weight: 600;
  border-radius: 15px;
  padding: 5px 12px;
  margin: 5px 5px 5px 0;
  display: inline-block;
}

.abordagem, .publico {
  font-weight: bold;
  margin-right: 5px;
}

.descricao p {
  margin-top: 10px;
  line-height: 1.5;
  text-align: justify;
}

.telefone {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.whatsapp-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #25D366; /* Cor do WhatsApp */
  font-weight: bold;
  font-size: 16px;
}

.whatsapp-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}